<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CSRF Token -->
    <meta name="csrf-token" content="" />

    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="/icon.ico" />
    <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body class="bg-gray-100 h-screen antialiased leading-none font-sans">
    <div id="app"><%- include('../Templates/header-basic') -%></div>
    <div class="max-w-lg mx-auto mt-20">
      <form action="/user/login" method="POST">
        <div class="mb-6">
          <label
            for="Username"
            class="text-sm font-medium text-gray-900 block mb-2"
            >Username</label
          >
          <input
            type="text"
            name="username"
            id="username"
            class="
              bg-gray-50
              border border-gray-300
              text-gray-900
              sm:text-sm
              rounded-lg
              focus:ring-blue-500 focus:border-blue-500
              block
              w-full
              p-2.5
            "
            required=""
          />
        </div>
        <div class="mb-6">
          <label
            for="password"
            class="text-sm font-medium text-gray-900 block mb-2"
            >Password</label
          >
          <input
            type="password"
            name="password"
            id="password"
            class="
              bg-gray-50
              border border-gray-300
              text-gray-900
              sm:text-sm
              rounded-lg
              focus:ring-blue-500 focus:border-blue-500
              block
              w-full
              p-2.5
            "
            required=""
          />
        </div>
        <div class="flex items-start mb-6">
          <% if (messages.error) { %>
          <div
            class="
              w-full
              alert alert-danger
              bg-red-100
              border border-red-400
              text-red-700
              px-4
              py-3
              rounded
              relative
            "
            role="alert"
          >
            <%= messages.error %>
          </div>
          <% } %>
        </div>
        <button
          type="submit"
          class="
            w-full
            text-white
            bg-blue-700
            hover:bg-blue-800
            focus:ring-4 focus:ring-blue-300
            font-medium
            rounded-lg
            text-sm
            px-5
            py-2.5
            text-center
          "
        >
          Masuk
        </button>
        <!-- show any messages that come back with authentication -->
      </form>
      <p class="mt-4 text-center">
        Belum punya akun?
        <a href="/register" class="text-indigo-500 font-medium">Daftar</a>
      </p>
    </div>
  </body>
</html>
