<!doctype html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="">

    <title>Tambah Barang</title>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/icon.ico" />
</head>

<body class="bg-gray-100 h-screen antialiased leading-none font-sans">
    <div id="app">
        <%- include('../Templates/header-after-login') -%>
    </div>

    <section class=" mr-20 ml-20 mt-10 flex flex flex-col break-words bg-white sm:border-1 sm:rounded-md sm:shadow-sm sm:shadow-lg">

        <header
        class="
          font-semibold
          bg-gray-200
          text-gray-700
          py-5
          px-6
          sm:py-6 sm:px-8 sm:rounded-t-md
          flex
          justify-between
          align-middle
          items-center
        "
      >
        Tambah Barang
        <a
          class="
            px-4
            py-2
            mt-2
            text-lg text-gray-900
            bg-gray-200
            rounded-lg
            sm:mt-0
            hover:text-gray-900
            focus:text-gray-900
            hover:bg-gray-300
            float-right
          "
          href="#"
        >
          <span
            class="
              badge
              mb-3
              bg-red-800
              rounded-full
              px-2
              py-1
              text-center
              object-right-top
              text-white text-sm
              mr-1
            "
          >
            24 </span
          >Keranjang Nota</a
        >
      </header>

        <div class="w-full p-6">
            <form method="POST" action="/product">

                <div class="flex flex-col mb-4">
                    <label class="mb-2 text-gray-900" for="first_name">Nama Barang</label>
                    <input class="w-96 border py-2 px-3 text-grey-800" type="text" name="name" id="nama_barang">
                </div>
                <div class="flex flex-col mb-4">
                    <label class="mb-2 text-gray-900" for="first_name">Stok Barang</label>
                    <input class="w-96 border py-2 px-3 text-grey-800" type="number" name="stock" id="stok_barang">
                </div>
                <div class=" flex flex-col mb-4">
                    <label class="mb-2 text-gray-900" for="first_name">Harga Barang</label>
                    <input class="w-96 border py-2 px-3 text-grey-800" type="number" step="0.01" name="price" id="harga_barang">
                </div class=" flex flex-col mb-4">
                <button class=" w-40 h-10 mb-6 bg-green-500 text-white font-bold py-1 px-2 border rounded hover:bg-green-700" type="submit">Tambah Barang</button>
                <div class=" flex flex-col mb-4">
                    <% if (messages.info) { %>
                        <div class="alert alert-success" role="alert">
                            <p class="mt-4 text-gray-900"><%= messages.info %></p>
                        </div>
                      <% } %>
                </div>
            </form>
        </div>
    </section>

    
</body>

</html>